<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Analytical database service that allows you to add your own interactive in-depth analytics.{% endif %}">
    <meta name="author" content="briskat">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Interactive user experience in analytics. Multiuser Interactive Analytical database{% endif %}">
	<meta property="og:site_name" content="Briskat">
{% if page.image %}<meta property="og:image" content="{{ site.url }}/img/posts/{{page.image}}">{% endif %}

	<link rel="stylesheet" href="/bs_3_3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/my.css"> <!-- customize bootstrap here ! -->

	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>
<body>
{% include navigation.html %}
{% if page.url == '/index.html' %}
<header>
        <div class="row">
			<div class="col-md-12">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <div class="carousel-inner">
				<div class="item active">
				  <img src="img/l1.png">
				  <div class="carousel-caption">
					<h1 style="font-family: 'Oswald', sans-serif; font-size: 260%;">
						GET THE FACTS FROM YOUR DATA</h1><br/>
				  </div>
				</div>
				<div class="item">
				  <img src="img/l1.png">
				  <div class="carousel-caption">
					<h1 style="font-family: 'Oswald', sans-serif; font-size: 260%;">
						MAKE FACT-BASED DECISIONS</h1><br/>
				  </div>
				</div>
				<div class="item">
				  <img src="img/l1.png">
				  <div class="carousel-caption">
					<h1 style="font-family: 'Oswald', sans-serif; font-size: 260%;">
						FASTER THAN EVER BEFORE</h1><br/>
				  </div>
				</div>
			  </div>

			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div> <!-- Carousel -->
			</div>
		</div>
</header>
{% endif %}

<div class="container">
	{{ content }}
</div>

{% include footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/bs_3_3/js/bootstrap.min.js"></script>
  </body>
</html>
