<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Interactive user experience in analytics. Multiuser Interactive Analytical database{% endif %}">
    <meta name="author" content="briskat">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Interactive user experience in analytics. Multiuser Interactive Analytical database{% endif %}">
	<meta property="og:site_name" content="Briskat">

	<link rel="stylesheet" href="/bs_3_2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/my.css"> <!-- customize bootstrap here ! -->
  </head>
<body>
{% include navigation.html %}

<div class="container">
	{{ content }}
</div>

{% include footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bs_3_2/js/bootstrap.min.js"></script>
  </body>
</html>
