<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Analytical database service that allows you to add your own interactive in-depth analytics.{% endif %}">
    <meta name="author" content="briskat">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Briskat, Database for Interactive Analytics{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}Interactive user experience in analytics. Multiuser Interactive Analytical database{% endif %}">
	<meta property="og:site_name" content="Briskat">
{% if page.image %}<meta property="og:image" content="{{ site.url }}/img/posts/{{page.image}}">{% endif %}

	<link rel="stylesheet" href="/bs_3_3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/my.css"> <!-- customize bootstrap here ! -->

	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>
<body>
{% include navigation.html %}
{% if page.url == '/index.html' %}
<header>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
				<br/>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/Dp5jRJPFOiA?showinfo=0&rel=0&autohide=1" style="border: 3px solid #aaa;" allowfullscreen></iframe>
				</div>
				<small>Our story in less than 2 minutes</small>
			</div>
            <div class="col-md-4">
			<h1 style="font-family: 'Oswald', sans-serif; font-size: 400%;">EXPLORE<br/>the data<br/>INSTANTLY</h1>
		<!--	<a href="https://twitter.com/thebriskat" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @thebriskat</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
			<a class="btn btn-success btn-lg" href="http://gcharts.briskat.com:8080" role="button">
			<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Try Gitcharts </a>
			<br/><br/>
            </div>
		</div>
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
			<small><a href="http://mockmoon.sblo.jp/"><span class="glyphicon glyphicon-camera" aria-hidden="true" style="color: #47637b;" allowfullscreen></iframe></span></a></small>
			</div>
		</div>
</header>
{% endif %}

<div class="container">
	{{ content }}
</div>

{% include footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bs_3_3/js/bootstrap.min.js"></script>
  </body>
</html>
