---
layout: layout
---

<div class="content">
	{% include post_header.html %}
	<div class="row">
	<div class="col-md-9">
    {{ content }}
	</div>
	</div>

	<div class="row">
			<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a>{% endif %} {% if page.next.url %} <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> {% endif %} </p>
	</div>

	<div class="row">
	<div class="col-md-9">
		{% include disqus_comment.js %}
	</div>
	</div>
</div>
